body
{
    padding-top: 59px;
}
/* Start navbar*/
.btn{
    border: 1px solid black; 
    color: white;
    transition: 0.5s all;
}

.btn:hover
{
    background-color: #fff;
    padding: 4px 18px;
    border: 2px solid white;
    transition: 0.5s all;
}
.nav-item
{
 transition: 0.5s all;
}
.nav-item:hover
{
    
    background-color: #fff;
    border: 2px solid white;
    padding: 0px 1px;
    border-radius: 5px;
    transition: 0.5s all;
    
}
.navbar
{
    background-color: #00A8FF;
}

.navbar ul li  
{
    margin: 0px 5px;
}

.btn-outline-success {
    color: black;
    border-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-brand img{
    width: 70px;
}
/* End nav */
/* Start aboutus */
.ourMission
{
    margin: 5px 5px;
}
.aboutus
{
    background:linear-gradient(to right,#00A8FF,white); 
    width: 100%;
}
.hr1
{
    background: linear-gradient(to right,#00A8FF,white,#00A8FF);
    width: 40%;
    margin: auto;
    height: 3px;
    margin-bottom: 2px;
}
.hr2
{
    border: 1px dashed white;
    width: 30%;
    height: 1px;
   background-color: transparent;
}
.hr3
{
    
    border: 1px dashed white;
    width: 20%;
    height: 1px;
   background-color: transparent;

}
/* End about us */
/* Start Products */
.products
{
    background:linear-gradient(to right,#00A8FF,white); 
    width: 100%;
    text-align: center;
}
.products ul 
{
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.products .container .row  .pimages img
{
    margin: 10px auto;
}
/* End Products */
/* Startr Contact Us */
.contactUs
{
    background:linear-gradient(to right,#00A8FF,white); 
    width: 100%;
}
.contactUs .container .row  .mapImage img 
{
    width:400px;
}
/* End Contact Us */
/* Start footer */
.footer
{
    background:linear-gradient(to right,#00A8FF,white); 
    width: 100%;
}
.footer .container .row .categories li{
    list-style: none;
}
.footer .container .row .categories li a
{
    color: black;
    text-decoration: none;
}
.footer .container .row .categories li a:hover
{
    color: white;
}
.footer .container .row .quickLinks li{
    list-style: none;
}
.footer .container .row .quickLinks li a
{
    color: black;
    text-decoration: none;
}
.footer .container .row .quickLinks li a:hover
{
    color: white;
}